.main_box{
    background: radial-gradient(circle at center, #1d385a 20%, #141a20 120%, #0b182c 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
}